---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---


{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

<a href="{{ site.baseurl }}/blog/" class="btn btn--info">Blog posts by Year</a>
<a href="{{ site.baseurl }}/tags/" class="btn btn--success">Blog posts by Tags</a>


{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
