---
layout: splash
header:
  overlay_image: header_millenium.JPG
  overlay_filter: 0.1
excerpt: "Biodiversity scientist <br/> Biodiversity, Informatics, Sea cucumbers and other marine invertebrates"
feature_row:
  - image_path: Phyrella_mookiei_Guam_UF10336-1024x610.jpg
    title: Phyrella mookiei
    excerpt: "Revision of _Phyrella_ and a new species from Guam"
    url: /2014/01/phyrella-revision/
  - image_path: 201311-GuamCukes-1024x610.jpg
    title: The sea cucumbers from Guam
    excerpt: "We still have a lot to learn from a well-studied fauna."
    url: /2013/11/the-sea-cucumbers-from-guam/
  - image_path: 2013EvolutionCover-1024x610.jpg
    title: Palm trees across Wallace's Line
    url: /2013/06/palm-tree-wallace-line/
    excerpt: "Only a few lineages of palm trees have crossed Wallace's Line. But the ones that did diversified at higher rates."
---


{% include base_path %}

<img src="{{ site.baseurl }}/images/michonneau.francois_square.jpg" width="200"
     height="200" class="align-right"/>

<p>My research interests are centered around understanding the origin,
maintenance, and distribution of biodiversity: How is diversity generated? How
are species related to each other? What have been the relative contributions of
biotic and abiotic factors in shaping the distribution of diversity? To address
these questions, I use integrative approaches combining molecular and
morphological data, with modern statistical and computing tools.</p>

<p>I am currently a postdoctoral researcher at the Whitney Laboratory for Marine
Bioscience at the University of Florida, where I document the diversity of
planktonic communities using meta-barcoding. For my PhD, I investigated species
limits and cryptic diversity in sea cucumbers, and conducted a taxonomic
revision of a genus of small sea cucumbers. In addition to my research, I
develop open-source software to analyze biodiversity and phylogenetic data in
R.</p>

<p>Because I believe that science would progress faster if more scientists knew
basic programming skills, I developed my own programming course for graduate
students (<a href="http://r-bio.github.io">R programming for biologists</a>). I
am also a certified instructor and an active member of
the <a href="https://software-carpentry.org">Software Carpentry</a>
  and <a href="https://datacarpentry.org">Data Carpentry</a> organizations.</p>

<p>For updates, follow me on Twitter <a href="https://twitter.com/fmic_" class="btn btn--info">@fmic_</a></p>

<h2>Highlights from Recent Publications</h2>

{% include feature_row %}
